// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.home-image {
  background: url('icon.svg') no-repeat top center;
  height: 20vh;
  padding-top: 20%;
  margin-top: 20%;
  margin-bottom: 2%;
}
